*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
  "navbar navbar"
  "sidebar main"
  "sidebar footer";
  background-color: rgba(233, 233, 233, 1);
}

aside{
  color: white;
  height: 100vh;
  width: 250px;
  position: fixed;
  align-self: start;
  grid-area: sidebar;
  background-color: rgba(36, 36, 36, 1);
}



.logo-container {
  display: flex;
  align-items: center;
   width: 240px;
  height: 110px;
  margin: -5px 0 0 15px; 
}
.school-logo {
  width: 70px;
  height: 70px;
  border-radius: 200px;
  margin-right: 10px;
}
.school-name {
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: "Bookman Old Style", Georgia, serif;
  text-decoration: none;
}



.student-info-container {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-left: 25px;
}
.student-profile2 {
  width: 40px;
  margin-right: 12px;
}
.student-name1 {
  font-size: 13px;
  margin-bottom: 2px;
}
.student-gmail {
  font-size: 10px;
}

.dashboard-container {
  margin:  15px 0 0 0;
  width: 250px;
  height: 230px;
}
.dashboard-text {
  margin: 0 0 10px 0;
  padding: 0 0 0 16px;
  font-weight: 700;
  color: rgba(68, 189, 50, 1);
  border: none;
}
.dashboard-container a{
  padding: 8px 10px 8px 16px;
  text-decoration: none;
  font-size: 14px;
  color: rgb(129, 129, 129);
  display: block;
  border: 1px rgba(61, 61, 61, 1) solid;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.dashboard-container a{
  padding: 8px 10px 8px 16px; 
  width: 89%;
}
.dashboard-container a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}
.dropdown-container {
  display: none;
  background-color: #083914;
}
.active {
  background-color: rgba(12, 96, 0, 1);
  color: white;
}



nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 250px;
  top: 0;
  position: sticky;
  grid-area: navbar;
  color: black;
  background-color: white;
  padding: 15px 0 15px 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26 );
}
.student-welcome-dboard {
  display: flex;
}
.student-name {
  margin-right: 5px;
}
.student-profile1 {
  display: flex;
  align-items: center;
  width: 170px;
  margin-right: 30px;
}
.student-image-profile {
  width: 30px;
  margin-right: 8px;
}
.student-option {
  display: flex;
  align-items: center;
}



.dropdown{
  display: inline-block;
}
select {
  border: none;
  cursor: pointer;
}
.dropdown a{
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}
.dropdown .content {
  display: none;
  font-weight: lighter;
  position: absolute;
  background-color: white;
  height: 400px;
  width: 250px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.2);
  border-radius: 5px;
  margin: 0 0 0 -210px; 
}
.image {
  width: 200px;
  height: 200px;
  margin: 10px 25px;
}
.icons-container {
  width: 218px;
  height: 115px;
  padding: 10px 16px;
}
.icons {
  width: 20px;
}
.icons-div {
  display: flex;
  align-items: center;
}

.dropdown:hover .content{
  display: block;
}
.dropdown:hover select{
  background-color: hsl(0, 0%, 70%);
}
.icons-container a:hover{
  background-color: hsl(0, 0%, 90%);
}
.profile-details {
  display: grid;
  justify-content: center;
  align-items: center; 
  height: 50px;
  width: 250px;
}
.std-name {
  font-size: 16px;
  margin: 0;
}
.std-email {  
  font-size: 13px;
  margin: 0;
}
.icon1:hover{
  background-color: hsl(0, 0%, 90%);
}
.icon2:hover{
  background-color: hsl(0, 0%, 90%);
}
.icon3:hover{
  background-color: hsl(0, 0%, 90%);
}




main{
  grid-area: main;
}
footer{
  grid-area: footer;
  color: black;
  padding: 10px 0 10px 20px;
  font-size: 14px;
  font-weight: lighter;
}