/*Homepage*/

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  "navbar navbar"
  "sidebar main"
  "sidebar footer";
  margin: 0px;
  background-image: url("/images/Caintamainhih-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  font-family: Arial;
}

nav {
  grid-area: navbar;
  display: flex;
  top: 0;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  margin-top: 0;
  width: 1490px;
  background-color: rgba(20, 28, 186, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.26 ); 
  padding: 1.4em;
}
.home,
.about,
.contact,
.admin {
color: white;
text-decoration: none;
}
.home:hover,
.about:hover,
.contact:hover,
.admin:hover{
  color: rgb(255, 0, 0);
  transition: color 0.3s;
}
.container {
  height: 20px;
  color: white;
  margin-right: 70px;
  font-size: 18px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26 );
}

aside {
  margin-top: 33px;
  margin-left: 25px;
  top: 0;
  position: fixed;
}
.logo { 
  width: 100px;
  height: 100px;
  border-radius: 200px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.26 );
}
main {
  grid-area: main;
  vertical-align: center;
  margin-left: 67px;
  margin-top: 250px;
  margin-bottom: 0px;
}

.tittle {
  font-weight: bold;
  font-size: 40px;
  color: white;
  margin-bottom: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.26); 
}

.sub-tittle {
  color: white;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: light;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.26);
}

.student-login-btn {
  width: 115px;
  height: 30px;
  font-size: 13px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgba(31, 95, 255, 1);
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.26 );
  transition: background 0.1s;
}

.student-login-btn:active {
  background-color:rgb(0, 56, 197);
}

.arrow {
  font-size: 15px;
  padding-left: 2px;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 155px;
  background-color: rgba(36, 36, 36, 1);
  padding: 1em;
}

.address-container {
  padding-top: 0px;
  margin-left: 44px;
  margin-top: 1px;
  margin-bottom: 0;
  height: 110px;
  width: 248px;
  color: white;
  font-size: 16px;
  font-weight: thin;
}
.address{
  margin-top: 0;
  font-size: 18px;
}
.footer-logo {
  width: 150px;
  height: 110px;
  text-align: center;
  margin-right: 44px;
}
.logo1 {
  width: 75px;
  border-radius: 200px;
  
}
.school-name {
  margin: 0;
  color: white;
}